
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Suraj Sanjeev Pawar</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3" style="background-color:darkred;color:white;">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/suraj.jpg' %}" >
					<hr>
					<h4 style="background-color:darkred;color:white;"><font face = "Comic sans MS" >Hi I'm Suraj!</font></h4>
					<p style="background-color:darkred;color:white;"><font face = "Comic sans MS" >Life is like riding a bicycle. To keep your balance, you must keep moving.</font></p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info" style="background-color:forestgreen;color:white;" >
					<h4 style="background-color:forestgreen;color:white;"><font face = "Comic sans MS" >what is a life ?</font></h4>
					<hr>
					<p><font face = "Comic sans MS" >Life is the aspect of existence that processes, acts, reacts, evaluates, and evolves through growth (reproduction and metabolism). The crucial difference between life and non-life (or non-living things) is that life uses energy for physical and conscious development. </font></p>

					<p><font face = "Comic sans MS" >Computers are non-living because even though they can cognize, they do not develop biologically (grow), and cannot produce offspring. It is not cognition that determines life, then: it is rather proliferation and maturation towards a state of death; and death occurs only to living substances.</font></p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100" style="background-color:purple;color:white;">
					<h5 style="background-color:purple;color:white;"><font face = "Comic sans MS" >Family </font></h5>
					<hr>
					<p><font face = "Comic sans MS" >The most important and meaningful surprise Life has given us is family. Family means feeling secure, having someone you can count on, with whom you can express your concerns.</font> </p>
					<p><font face = "Comic sans MS" >Family is important because it provides love, support and a framework of values to each of its members. Family members teach each other, serve one another and share life’s joys and sorrows. Families provide a setting for personal growth.</font></p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100" style="background-color:darkorange;color:white;">
					<h5 style="background-color:darkorange;color:white;"><font face = "Comic sans MS" >Friendship</font></h5>
					<hr>
					<p><font face = "Comic sans MS" >Friends don’t completely cure loneliness (that’s a common myth) but they do help us during lonely times. We learn how to accept kindness and also to reach out when we need help. Those painful times when we might be without friends also help us to appreciate the friendships that come in and out of our lives.</font> </p>
					<p><font face = "Comic sans MS" >By spending time with friends, we fill up our lives with great conversation, heartfelt caring and support, and laugh out loud fun. When we fall on hard times, friends are there to put things in perspective and help us.</font></p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
			<div class="card card-body h-100" style="background-color:saddlebrown;color:white;">
					<h5 style="background-color:saddlebrown;color:white;"><font face = "Comic sans MS" >Helping Others</font></h5>
					<hr>
					<p><font face = "Comic sans MS" >One of the most important in life is to help others without expecting anything in return. No matter whoever it is small or big, good or bad, poor or rich, you do not have to be partial while helping them. </font></p>
                    <p><font face = "Comic sans MS" >People may overlook what you’ve said or achieved but they’ll never forget how you made them feel. There are lots of people behind every successful individual, who support them.</font></p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100" style="background-color:mediumvioletred;color:white;">
					<h5 style="background-color:mediumvioletred;color:white;"><font face = "Comic sans MS" >Health is Everything</h5>
				<hr>
				<p><font face = "Comic sans MS" >Life is the most important thing that God has given us, it has many stages that we can experience throughout the rest of our lives, but only if we are well and fit to play. Name, fame and wealth are not as essential as health because if your health isn’t nice then you will have no use of your money and fame.</font> </p>
				<p><font face = "Comic sans MS" > a healthy body and mind is vital if you want to lead a truly productive life.</font> </p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>